/* --- search query and results --- */
.search_form_box {
  margin-top: 20px;
  margin-bottom: 20px;
}

#search_button {
  padding: 5px;
}

#search_results_box {
  width: 100%;
  display: none;
}

#loading_gif {
  margin-top: 60px;
}

/* --- flash container --- */
#sm2-container {

}
