/* --- search query and results --- */
.search_form_box {
  margin-top: 20px;
  margin-bottom: 20px;
}

#search_input {
  height: 30px;
  width: 50%;
  border-radius: 4px;
  padding-left: 5px;
  border: 1px solid #959595;
}

#search_button {
  padding: 5px;
}

.search_results_box {
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
}

/* --- flash container --- */
#sm2-container {
  display: none;
}
