/* --- placeholder color --- */
#search_input::-webkit-input-placeholder {
  color: #d9e2ec;
}

#search_input:-moz-placeholder {
  color: #d9e2ec;
  opacity: 1;
}

#search_input::-moz-placeholder {
  color: #d9e2ec;
  opacity: 1;
}

#search_input:-ms-input-placeholder {
  color: #d9e2ec;
}

/* --- override bootstrap --- */
#navbar-changes {
  border-radius: 0px;
  background-color: #567ca4;
  border-color: #567ca4;
}

#navbar-logo {
  color: white;
}

#navbar-list-items {
  color: white;
}

#navbar-caret {
  border-top: 4px solid white;
}

/* --- search query and results --- */
.search_form_box {
  margin-top: 20px;
  margin-bottom: 20px;
}

#search_input {
  margin-top: 3px;
  border-radius: 12px;
  border: 1px solid #4b6d94;
  width: 270px;
  height: 28px;
  font-size: 12px;
  background: #4b6d94;
  color: white;
}

#search_button {
  padding: 5px;
}

#search_results_box {
  margin-top: 20px;
  padding: 20px;
  background: white;
  webkit-box-shadow: 0 1px 2px rgba(6, 33, 63, 0.13);
  -moz-box-shadow: 0 1px 2px rgba(6, 33, 63, 0.13);
  box-shadow: 0 1px 2px rgba(6, 33, 63, 0.13);
}

#loading_gif {
  margin-top: 60px;
}

/* --- flash container --- */
#sm2-container {

}
