/* --- placeholder color --- */
#search_input::-webkit-input-placeholder {
  color: #a9bcd4;
}

#search_input:-moz-placeholder {
  color: #a9bcd4;
  opacity: 1;
}

#search_input::-moz-placeholder {
  color: #a9bcd4;
  opacity: 1;
}

#search_input:-ms-input-placeholder {
  color: #a9bcd4;
}

/* --- override bootstrap --- */
#navbar-changes {
  border: none;
  background-color: #567ca4;
  border-radius: 0px;
}

#navbar-logo {
  color: white;
}

#navbar-list-items {
  color: white;
}

#navbar-caret {
  border-top: 4px solid white;
}

.view-columns {
  display: table;
  width: 100%;
}

/* --- menu bar --- */
.menu-bar {
  padding: 10px 15px;
  background: white;
  webkit-box-shadow: 0 1px 2px rgba(6, 33, 63, 0.13);
  -moz-box-shadow: 0 1px 2px rgba(6, 33, 63, 0.13);
  box-shadow: 0 1px 2px rgba(6, 33, 63, 0.13);
}

  .menu-bar p {
    color: #41658c;
    margin: 0;
  }

.view-left-column {
  display: table-cell;
  vertical-align: top;
  padding-right: 15px;
  min-width: 228px;
  width: 20%;
}

/* --- search query and results --- */
.search_form_box {
  margin-top: 15px;
  margin-bottom: 15px;
}

#search_input {
  margin-top: 3px;
  border-radius: 12px;
  border: 1px solid #4b6d94;
  width: 270px;
  height: 28px;
  font-size: 12px;
  background: #4b6d94;
  color: white;
}

#search_button {
  padding: 5px;
}

#search_results_box {
  background: white;
  webkit-box-shadow: 0 1px 2px rgba(6, 33, 63, 0.13);
  -moz-box-shadow: 0 1px 2px rgba(6, 33, 63, 0.13);
  box-shadow: 0 1px 2px rgba(6, 33, 63, 0.13);
}

#loading_gif {
  margin-top: 60px;
}

.view-right-column {
  display: table-cell;
  vertical-align: top;
  width: 80%;
}

/* --- player --- */

#player {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 0px;
  background: #567ca4;
  webkit-box-shadow: 0 -1px 2px rgba(6, 33, 63, 0.13);
  -moz-box-shadow: 0 -1px 2px rgba(6, 33, 63, 0.13);
  box-shadow: 0 -1px 2px rgba(6, 33, 63, 0.13);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#player_info {
  background: #4b6d94;
  position: fixed;
  height: 0px;
  bottom: 10px;
  left: 200px;
  right: 200px;
  border-radius: 4px;
  webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 500;
}

#progress_slider_box {
  position: fixed;
  margin-bottom: 0;
  height: 0px;
  left: 200px;
  right: 200px;
  bottom: 10px;
  box-shadow: none;
  background-color: #4b6d94;
  border-radius: 4px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 500;
}

#progress-slider {
  background-color: #7594b9;
}

.title {
  font-size: 13px;
  margin-top: 13px;
  margin-bottom: 8px;
  color: white;
  padding-left: 20px;
  position: relative;
  font-weight: bold;
  z-index: 1000;
}

.artist {
  padding-left: 20px;
  color: #a9bcd4;
  position: relative;
  z-index: 1000;
}

/* --- flash container --- */
#sm2-container {

}
