/* --- placeholder color --- */
#search_input::-webkit-input-placeholder {
  color: #9cb2cd;
}

#search_input:-moz-placeholder {
  color: #9cb2cd;
  opacity: 1;
}

#search_input::-moz-placeholder {
  color: #9cb2cd;
  opacity: 1;
}

#search_input:-ms-input-placeholder {
  color: #9cb2cd;
}

/* --- override bootstrap --- */
#navbar-changes {
  border: none;
  background-color: #567ca4;
  border-radius: 0px;
  margin-bottom: 15px;
}

#navbar-logo {
  color: white;
}

#navbar-list-items {
  color: white;
}

#navbar-caret {
  border-top: 4px solid white;
}

.view-columns {
  display: table;
  width: 100%;
}

/* --- menu bar --- */
.menu-bar {
  padding: 10px 15px;
  background: white;
  webkit-box-shadow: 0 1px 2px rgba(6, 33, 63, 0.13);
  -moz-box-shadow: 0 1px 2px rgba(6, 33, 63, 0.13);
  box-shadow: 0 1px 2px rgba(6, 33, 63, 0.13);
}

  .menu-bar p {
    color: #41658c;
    margin: 0;
  }

.view-left-column {
  display: table-cell;
  vertical-align: top;
  padding-right: 15px;
  min-width: 228px;
  width: 20%;
}

/* --- search query and results --- */
.search_form_box {
  margin-top: 15px;
  margin-bottom: 15px;
}

#search_input {
  margin-top: 3px;
  border-radius: 12px;
  border: 1px solid #4b6d94;
  width: 270px;
  height: 28px;
  font-size: 12px;
  background: #4b6d94;
  color: white;
}

#search_button {
  padding: 5px;
}

#search_results_box {
  background: white;
  webkit-box-shadow: 0 1px 2px rgba(6, 33, 63, 0.13);
  -moz-box-shadow: 0 1px 2px rgba(6, 33, 63, 0.13);
  box-shadow: 0 1px 2px rgba(6, 33, 63, 0.13);
}

#loading_gif {
  margin-top: 60px;
}

.view-right-column {
  display: table-cell;
  vertical-align: top;
  width: 80%;
}

/* --- flash container --- */
#sm2-container {

}
