/* --- search query and results --- */
.search_form_box {
  margin-top: 20px;
  margin-bottom: 20px;
}

#search_input {
  margin-top: 3px;
  border-radius: 12px;
  width: 270px;
  height: 28px;
  font-size: 12px;
}

#search_button {
  padding: 5px;
}

#search_results_box {
  padding: 20px;
  background: white;
  webkit-box-shadow: 0 1px 2px rgba(6, 33, 63, 0.13);
  -moz-box-shadow: 0 1px 2px rgba(6, 33, 63, 0.13);
  box-shadow: 0 1px 2px rgba(6, 33, 63, 0.13);
}

#loading_gif {
  margin-top: 60px;
}

/* --- flash container --- */
#sm2-container {

}
