<html>
<head>

<style>
  body {
    padding-top: 60px;
  }
</style>

</head>
<body>

  <p>Hello world.</p>
  <div id="login_button" onclick="VK.Auth.login(authInfo);"></div>

  <script type="text/javascript" src="http://vk.com/js/api/openapi.js"></script>
  <script type="text/javascript">

  VK.init({
      apiId: '5047548'
  });

  function authInfo(response) {
      if (response.session) {
          alert('user: ' + response.session.mid);
          console.log(response);
          console.log(response.session);
      } else {
          alert('not auth');
      }
  }

  function getMusic(query, access_token) {

      var searchResults = []

      $.ajax({
          url: "https://api.vkontakte.ru/method/audio.search?q=" + query + "&count=200&access_token=" + access_token + "",
          dataType: 'jsonp',
          success: function(data) {
              for (var i = 1; i < data.response.length; i++) {
                  searchResults.push(data.response[i]);
              }
          },
          error: function() {
              alert("Something wrong!");
          }
      });
      return true;
      console.log(searchResults);
  };

  getMusic("the+beatles", "179a91fa2f4db1466c32dffcdf4b3a08e2dc3b1bc1aab800f38c33d4e78af377d505e67e6e602a11fd0b009b4eed5");

  //VK.Auth.getLoginStatus(authInfo);
  VK.UI.button('login_button');

  </script>

</body>
</html>
