<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hiplyst | Shared music playlists, ranked by the community</title>

    <!-- Enables css stylesheets -->
    <link type="text/css" href="/static/css/style.css" rel="stylesheet" />
    <link type="text/css" href="/static/css/bootstrap.css" rel="stylesheet">

    <style>
    body {
        font-size: 12px;
        background: #f0f2f5;
    }
    table, th, td {
        border: 1px solid #eeeeee;
        border-collapse: collapse;
    }
    th, td {
        padding: 10px 15px;
        text-align: left;
    }
    th {
        background-color: white;
    }
    td a {
        color: #0088cc;
        cursor: pointer;
    }
    tr:nth-child(odd) {
        background-color: #f9f9f9;
    }
    </style>

</head>
<body>

  <!-- Collapse navbar with search and dropdown -->
  <nav class="navbar navbar-default" id="navbar-changes" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-left">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand" id="navbar-logo">Hiplyst</div>
      </div>

      <div class="collapse navbar-collapse" id="navbar-brand-left">
        <ul class="nav navbar-nav">
          <li><a href="#" id="navbar-list-items">Link</a></li>
          <li><a href="#" id="navbar-list-items">Link</a></li>
        </ul>
        <form class="navbar-form navbar-right" onsubmit="return false;" role="search">
          <div class="form-group">
            <input type="text" class="form-control" id="search_input" placeholder="Search for songs, artists, or albums">
          </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" id="navbar-list-items" data-toggle="dropdown">Dropdown <span class="caret" id="navbar-caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>		        
        </ul>
      </div>
    </div>
  </nav>

  <!-- Hiplyst abroad version 2.0 -->
  <!-- <div id="login_button" onclick="VK.Auth.login(authInfo);"></div> -->

  <div class="container">
    <div class="view-columns">
      <div class="view-left-column">
        <div class="menu-bar">
          <p>New playlist</p>
        </div>
      </div>
      <div class="view-right-column">
        <div id="search_results">
      </div>
    </div>
  </div>

  <!-- Enables bootstrap js -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.js"></script>

  <!-- Enables vk search and soundmanager -->
  <script type="text/javascript" src="/static/js/soundmanager2.js"></script>
  <script type="text/javascript" src="http://vk.com/js/api/openapi.js"></script>
  <script type="text/javascript">

  // soundManager.reboot();
  soundManager.url = '/static/swf/';
  soundManager.debugMode = true;
  soundManager.preferFlash = true;
  soundManager.flashVersion = 9; // optional: shiny features (default = 8)
  soundManager.useFlashBlock = true; // optionally, enable when you're ready to dive in
  soundManager.useHTML5Audio = true; // enable HTML5 audio support, if you're feeling adventurous.
  soundManager.useHighPerformance = true;

  // Initializes VK app
  VK.init({
      apiId: '5047548'
  });

  // User info
  function authInfo(response) {
      if (response.session) {
          alert('user: ' + response.session.mid);
          console.log(response);
          console.log(response.session);
      } else {
          alert('not auth');
      }
  }

  // Method to get results from search query
  function getMusic(query, access_token) {

      document.getElementById("search_results").innerHTML = "<center><div id='loading_gif'><img src='/static/images/loading.gif'></div></center>";

      $.ajax({
          url: "https://api.vkontakte.ru/method/audio.search?q=" + query + "&count=200&access_token=" + access_token + "",
          dataType: "jsonp",
          success: function(data) {
              var searchResults = "";
              for (var i = 1; i < data.response.length; i++) {
                  searchResults += '<tr><td>' + data.response[i]["title"] + '</td><td>' + data.response[i]["artist"] + '</td><td><a id="playing' + i + '" onclick="playTrack(\'' + data.response[i]["url"] + '\', \'' + i + '\')">Play</a></td></tr>';
              }
              if (searchResults == "") {
                  searchResults = "We could not find any matching songs, artists, or albums";
              }
              document.getElementById("search_results").innerHTML = "<div id='search_results_box'><table style='width:100%;border-style:hidden;'><thead><tr><th>TITLE</th><th>ARTIST</th><th>LISTEN</th></tr></thead><tbody>" + searchResults + "</tbody></table></div>";
          },
          error: function() {
              alert("Something wrong!");
          }
      });
      return true;

  };

  function pauseTrack() {
      console.log("hello");
  }

  // Optimize sound manager (add debugMode = true to hiplyst_7.0)
  function playTrack(data, number) {
      soundManager.destroySound("current");
      var current = soundManager.createSound({
          id: "current",
          url: data,
          autoLoad: true,
          autoPlay: true,
          volume: 100,
          onconnect: function () {
          },
          onload: function() {
          },
          whileloading: function () {
          },
          whileplaying: function () {
              document.getElementById("playing" + number).innerHTML = '<a onclick="pauseTrack()">Pause</a>';
          },
          onjustbeforefinish: function () {
          },
          onfinish: function () {
              console.log("finished playing");
          }
      });
  }

  // Press enter to load search query
  document.getElementById('search_input').onkeydown = function(event) {
      if (event.keyCode == 13) {
          load();
      }
  }

  // Loads search query
  function load() {
      var query = document.getElementById("search_input").value;
      query = query.split(' ').join('+');
      getMusic(query, "12803f7f7d68f130d1a455278dbbb0ae1d225785810f361ebd169aabc89b1d86ceed682810284f02f302af262c9b5");
  }

  // VK.Auth.getLoginStatus(authInfo);
  // VK.UI.button('login_button');

  </script>

</body>
</html>
